body {
    margin: 3%;
}


/* Imagen de perfil */

.imgRedonda {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 10px solid #666;
}


/* Botón de la cámara de fotos para cambiar la foto de perfil */

.camara {
    width: 100px;
    float: right;
    position: relative;
    margin-top: -110px;
}

/* Imagen del cohete de la izquierda de todo */

#imgProfileTImagesrc {
    width: 800px;
    position: inherit;
    z-index: -9999;
    margin-left: -150px;
}

#botonesEspecificos {
    padding-left: 15%;
}

#btnGit,
#btnLinkedin,
#btnPinterest {
    width: 50px;
}

#botonesRedes {
    margin-left: -100px;
    display: block;
}
