<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSKA - About Us</title>
</head>

<body>
    <h2>¡Bienvenid@ a {{ proyecto }}!</h2>
    <p>Éste es un proyecto del {{ equipo }}, compuesto por {{integrantes}}, al que le hemos dedicado tiempo, ilusión y sobre todo muchísimo cariño. Por ello, esperamos que lo disfrutes y que pueda ayudarte en tu desarrollo profesional por el camino de la
        informática.
    </p>
    <p>{{proyecto}} nació como el proyecto final del Bootcamp de Java y Angular de Fundació Splai y T-Systems, pero enseguida se convirtió en algo más que eso. Le pusimos todas nuestras ganas y nuestro amor, para que pudiera ayudar a muchísimas personas
        como tú a encontrar justo lo que está buscando.</p>
    <p>Sobre todo, hemos intentado hacer algo diferente. Nos hemos comprometido con romper con "lo de siempre", y además le hemos dado en algunas partes (como los bandages) ese toquecito de humor que nos caracteriza en el {{equipo}}.</p>
    <p>Por todo ello, de parte de los cuatro, queremos agradecerte que estés aquí.</p>
    <p>Y ahora... ¡A disfrutar de la experiencia! :)</p>

</body>

</html>

<router-outlet></router-outlet>