<aside class="container mt-3">
    <!--Form Search-->
    <aside class="row">
        <aside class="col">
            <aside class="form-group">
                <form>
                    <aside class="form-group">
                        <label for="Buscar"><b><u>Buscar Trabajos</u></b></label>
                        <input type="text" class="w-25 form-control" id="tfBuscarNombre" placeholder="Trabajo">
                    </aside>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </aside>
        </aside>
    </aside>
    <!--Show Results-->
    <aside class="row">
      <p>Resultado de la búsqueda</p>
      <p>Lenght: {{arrayWorksTrabajos.length}}</p>
        <aside class="col" *ngFor="let card of arrayWorksTrabajos">

            <app-work-card [workCardWork]="card"></app-work-card>
        </aside>
    </aside>
    <br>
    <a routerLink="../work"><button class="btn btn-primary">Trabajo Test</button></a>
</aside>
