<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css">
<div class="row d-inline-flex ml-1 fullCard">
    <!--Columna 1 foto, botones etc... #cardBody-->


    <!--Social icons .socialIconCol #colIcons-->
    <!--TODO HIDE IF LINK NULL-->
    <div class="col-2 socialIconCol align-items-center" id="colIcons">
        <div class="row">
            <a class="socialIcon" href="{{userCardTecnic.github}}" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <!--<div class="row">
        <a class="link iconB" href="{{}}" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>-->
        <div class="row">
            <a class="link iconB" href="{{userCardTecnic.pinterest}}" target="_blank"><i class="fa fa-pinterest "></i></a>
        </div>
        <!--<div class="row">
        <a class="link iconB" href="{{linkUserCardAppStore}}" target="_blank"><i class="fa fa-apple"></i></a>
    </div>
    <div class="row">
        <a class="link iconB" href="{{linkUserCardPlayStore}}" target="_blank"><i class="fa fa-google"></i></a>
    </div>
    <div class="row">
        <a class="link iconB" href="{{linkUserCardInstagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>-->
        <!--End Social icons-->
    </div>
