<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.component.css">
    <title>Document</title>
</head>

<body>

    <aside class="container">
        <!-- aside que va a ir a la izquierda de todo -->
        <aside class="row">
            <aside class="col">
                <h1 class="texto mt-4">PERFIL</h1>
                <hr>

                <label class="texto text-light" for="nombre" class="text-light" *ngIf="ProfileUser">Nombre</label>

                <!--<input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="ProfileUser.nombre" ngModel>-->
                <input *ngIf="ProfileUser" [(ngModel)]="ProfileUser.nombre" [readonly]=inputsReadOnly type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
                <br>
                <label class="texto text-light" for="apellidos">Apellidos</label>
                <!--<input type="text" class="form-control" placeholder="Apellidos" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="ProfileUser.apellidos" ngModel>-->
                <input *ngIf="ProfileUser" [(ngModel)]="ProfileUser.apellidos" [readonly]=inputsReadOnly type="text" class="form-control" placeholder="Apellidos" aria-label="Username" aria-describedby="basic-addon1">

                <br>
                <!--<label class="texto text-light" for="fechaDeNacimiento">Fecha de nacimiento</label>
                <h3>{{ProfileUser.getFecha_nacimiento}}"</h3>-->
                <!--<h3 class="text" *ngIf="ProfileUser">{{ProfileUser.fecha_nacimiento}}</h3>
                <br>
                <input class="texto" type="date" name="fechaDeNacimiento" id="fechaDeNacimiento" disabled>
                <br>
                <br>-->
                <label class="texto text-light" for="userName">Email</label>

                <!--<input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="ProfileUser.nombre_usuario" ngModel>-->
                <input *ngIf="ProfileUser" [(ngModel)]="ProfileUser.email" [readonly]=inputsReadOnly type="text" class="form-control" placeholder="email" aria-label="Email" aria-describedby="basic-addon1">
                <br><br>
                <!--TODO: Funcion de editar-->
                <button *ngIf="bolBtnEditar == true" class="boton" (click)="showGuardarCancelar()">Editar</button>
                <button *ngIf="bolBtnGuadar == true" class="btnGuardar" (click)="updateUser3()">Guardar</button>
                <button *ngIf="bolBtnCancelar == true" class="btnCancelar" (click)="hideGuardarCancelar()">Cancelar</button>

                <br><br>
                <h2>Redes</h2>
                <hr>
                <img src="https://39975211.servicio-online.net/wp-content/uploads/2022/06/icon_instagram.png" height="30" alt="Instagram">
                <img src="https://39975211.servicio-online.net/wp-content/uploads/2022/06/icon_linkedin.png" height="30" alt="Linkedin">
                <img src="https://39975211.servicio-online.net/wp-content/uploads/2022/06/icon_pinterest.png" height="30" alt="Pinterest">
                <img src="https://39975211.servicio-online.net/wp-content/uploads/2022/06/icon_playstore.png" height="30" alt="GooglePlay">
                <img src="https://39975211.servicio-online.net/wp-content/uploads/2022/06/icon_appstore.png" height="30" alt="AppStore">
                <img src="https://39975211.servicio-online.net/wp-content/uploads/2022/06/icon_github.png" height="30" alt="Github">
                <br>
                <br>
            </aside>
            <aside class="col ">
                <!-- Imagen de perfil -->

                <img src="https://39975211.servicio-online.net/wp-content/uploads/2022/06/david.png" class='imgRedonda' />
                <!-- Dibujito de la cámara  -->
                <img class="img camara" src='https://39975211.servicio-online.net/wp-content/uploads/2022/06/camara.png' id="camara " />
                <aside class="botonesEspecificos ">
                    <!-- Enterprise -->
                    <!--TODO: if profile not exist register, do funtion-->
                    <a routerLink="../profilerecruiter" href="#"><img class="img btnAstronauta w-25" src="https://39975211.servicio-online.net/wp-content/uploads/2022/05/reclutador.png" alt="Astronauta " /></a>
                    <!-- Tecnic -->
                    <!--TODO: if profile not exist register, do funtion-->
                    <a routerLink="../calendar" href="#" class="disabled"><img class="img btnCohete w-25 " src="https://39975211.servicio-online.net/wp-content/uploads/2022/05/tecnico.png" alt="Cohete " /></a>
                    <a *ngIf="ProfileUser.fk_id_tecnico" routerLink="../register-tecnic" href="#"><button class="boton">Crear Tecnico provisional</button></a>
                    <a *ngIf="ProfileUser.fk_id_reclutador" routerLink="../register-recruiter" href="#"><button class="boton">Crear Recruiter provisional</button></a>
                </aside>
            </aside>
        </aside>

    </aside>
    <!-- <img src="https://39975211.servicio-online.net/wp-content/uploads/2022/06/edit.png" height="30"> -->

</body>

</html>
