footer {
    display: block;
    z-index: 9999;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.next,
.looser,
.cumLaude,
.criticoExquisito {
    width: 50px;
    margin-right: 5px;
}

.looser {
    margin-left: -80%;
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 100%;
    top: -50%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

#bandage1 {
    width: 50px;
}

#bandage2 {
    margin-top: 7px;
    width: 60px;
}

#bandage3 {
    width: 35px;
}
