<div class ="container mt-3">
  <div class ="row">
    <div class ="col">
      <h1>NOMBRE TRABAJO</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>id</h3>
      <h3>fecha inicio</h3>
      <h3>fecha fin</h3>
    </div>
    <div class="col-3 text-center">
      <img src="https://es.marketscreener.com/mods_a/graph/resize.php?w=250&h=150&f=/images/barons/jose-oriol_bosch-par.jpg" class="card-img-top" alt="User Photo">
      <h6>Recruiter name</h6>
    </div>
  </div>
</div>
