.colorBackGround {
    background-color: #F92423;
}

.navbar {
    height: 70px;
    box-shadow: 0 6px 4px -2px #333;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

hr {
    border: 1px solid #FEFF00;
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
