<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSKA - Principal</title>
    <!-- Schema para posicionamiento -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "My Skill Around",
            "url": "https://main.d1nt2bha3gqz0z.amplifyapp.com/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://main.d1nt2bha3gqz0z.amplifyapp.com/{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
</head>

<body style="height:'{{screenHeight}}'">

    <aside class="container pt-4">
        <input type="text" class="inputInspirate input" placeholder=" ¿A qué esperas? ¡Inspírate!" />
        <button class="btn btnPost btn-warning" id="btnPost">Post</button>
        <br><br>

        <!-- <app-modal></app-modal> -->

        <!--Show Results-->
        <p class="length">Lenght: {{lenght}}</p>

        <aside class="card postCards" style="width: 20rem;" *ngFor="let item of arrayPost | paginate: { itemsPerPage: 2, currentPage: page }">
            <div>

                <h5 class="card-title pl-3 pt-3">Post {{item.id}}</h5>
                <p class="fechaPost">{{item.fecha_post}}</p>
                <hr>
                <div class="card-body">

                    <app-post-card [postCard]="item"></app-post-card>

                    <p class="card-text ml-4 mr-4">{{item.link}} Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod possimus sapiente vitae voluptatum accusantium</p>
                    <p class="likes ml-4"><i><u>Likes</u>: {{item.likes}}</i> | <i><u>RT</u>: {{item.retweet}}</i> </p>
                </div>



                <!-- <aside class="col-2 socialIconCol align-items-center" id="colIcons">
            <aside class="row">
                <a class="socialIcon" target="_blank"><i class="fa fa-github"></i></a>
            </aside>

            <aside class="row">
                <a class="link iconB" target="_blank"><i class="fa fa-pinterest "></i></a>
            </aside>

        </aside> -->

            </div>
            <aside class="asideBoton">
                <a href="#"><button class="btnSeguirLeyendo btn btn-warning">Seguir Leyendo</button></a>
                <a href="#"><button class="btnSeguirLeyendo btn btn-danger" ng-click="updateData(item.link)">Editar</button></a>

            </aside>
        </aside>

        <aside class="paginationControls mt-3 ml-5">
            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </aside>
    </aside>
</body>

</html>
