<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSKA - Principal</title>
    <!-- Schema para posicionamiento -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "My Skill Around",
            "url": "https://main.d1nt2bha3gqz0z.amplifyapp.com/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://main.d1nt2bha3gqz0z.amplifyapp.com/{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
</head>

<body style="height:'{{screenHeight}}'">

    <aside class="container pt-4">
        <input type="text" class="inputInspirate input" placeholder=" ¿A qué esperas? ¡Inspírate!" />
        <button class="btn btnPost btn-warning" id="btnPost">Post</button>
        <br><br>

        <ngb-pagination *ngIf="showPagination " [collectionSize]="totalItems " [(page)]="page " (pageChange)="loadPage($event) "></ngb-pagination>



        <!-- <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> -->
        <table>
            <tr *ngFor="let item of arrayPost">
                <td>
                    {{item}}
                </td>
            </tr>
        </table>

    </aside>

    <!-- <app-modal></app-modal> -->

    <!--Show Results-->
    <p class="length">Lenght: {{arrayPost.length}}</p>

    <div class="card postCards" style="width: 20rem;" *ngFor="let item of arrayPost">

        <h5 class="card-title pl-3 pt-3">Post {{item.id}}</h5>
        <p class="fechaPost">{{item.fecha_post}}</p>
        <hr>
        <div class="card-body">

            <app-post-card [postCard]="item"></app-post-card>

            <p class="card-text ml-4 mr-4">{{item.link}} Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod possimus sapiente vitae voluptatum accusantium</p>
            <p class="likes ml-4"><i><u>Likes</u>: {{item.likes}}</i> | <i><u>RT</u>: {{item.retweet}}</i> </p>
        </div>

        <!-- <aside class="col-2 socialIconCol align-items-center" id="colIcons">
            <aside class="row">
                <a class="socialIcon" target="_blank"><i class="fa fa-github"></i></a>
            </aside>

            <aside class="row">
                <a class="link iconB" target="_blank"><i class="fa fa-pinterest "></i></a>
            </aside>

        </aside> -->
        <aside class="asideBoton">
            <a href="#"><button class="btnSeguirLeyendo btn btn-warning">Seguir Leyendo</button></a>
        </aside>
    </div>
    <br><br>
    <nav aria-label="... " class="paginate">
        <ul class="pagination ">
            <li class="page-item disabled ">
                <span class="page-link ">Previous</span>
            </li>
            <li class="page-item "><a class="page-link " href="# ">1</a></li>
            <li class="page-item active " aria-current="page ">
                <span class="page-link ">2</span>
            </li>
            <li class="page-item "><a class="page-link " href="# ">3</a></li>
            <li class="page-item ">
                <a class="page-link " href="# ">Next</a>
            </li>
        </ul>
    </nav>

</body>

</html>