<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSKA - Principal</title>
    <!-- Schema para posicionamiento -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "My Skill Around",
            "url": "https://main.d1nt2bha3gqz0z.amplifyapp.com/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://main.d1nt2bha3gqz0z.amplifyapp.com/{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
</head>

<body>

    <aside class="container pt-4">
        <input type="text" class="inputInspirate input" placeholder=" ¿A qué esperas? ¡Inspírate!" />
        <button class="btn btnPost btn-warning" id="btnPost">Post</button>
        <br><br>
        <aside class="row">
            <aside class="col">
                <!--Card-->
                <aside class="col-7 aside_test1 w-50">
                    <aside class="card">
                        <aside class="card-header">
                            Uri
                        </aside>
                        <aside class="card-body">
                            <h5 class="card-title">El metaverso</h5>
                            <p class="card-text">El futuro de internet ahora depende del metaverso. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores natus labore culpa beatae, suscipit deleniti blanditiis eius impedit, assumenda unde</p>
                            <!--<span class="hide" id="hideText" [(ngModel)]="hideText">-->
                            <p> consequuntur rerum error iste incidunt optio tempore ipsum. Quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum harum dolor illo. Doloribus recusandae earum, ratione tempora natus obcaecati minima commodi neque
                                harum quasi quisquam cupiditate optio! Tempore, quasi totam.
                            </p>
                            <!--</span>-->
                        </aside>
                    </aside>
                </aside>
                <button class="btn btnSeguirLeyendo btn-warning">Seguir leyendo...</button>

                <!--Fin Card-->
                <!--Card-->
                <aside class="col-7 aside_test1 mt-2 w-50">
                    <aside class="card">
                        <aside class="card-header">
                            Uri2
                        </aside>
                        <aside class="card-body">
                            <h5 class="card-title">El metaverso2</h5>
                            <p class="card-text">2El futuro de internet ahora depende del metaverso. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae blanditiis in, magnam nulla harum suscipit tempora magni, temporibus doloremque neque beatae! Vero illo
                                fugiat perspiciatis quidem? Sunt labore assumenda ad!</p>
                        </aside>
                    </aside>
                </aside>
                <button class="btn btnSeguirLeyendo btn-warning">Seguir leyendo...</button>
                <br><br>
                <!--Fin Card-->
            </aside>

            <aside class="col-5 aside_test2">

            </aside>
        </aside>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </aside>
</body>

</html>